<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-left>Categories Page</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid no-padding>
    <ion-row card-background-page padding-horizontal>
      <ion-col no-padding col-12 col-md-12 col-lg-6 *ngFor="let category of categories">
        <ion-card [ngStyle]="{'background-image': 'url(' + category.image + ')'}"
                  [navPush]="'ServiceProvidersPage'" [navParams]="category" background-size text-left>
          <ion-row text-wrap card-title>
            {{category.category_name}}
            <div align-self-end>
              <ion-icon icon-small name="contact" item-end>
                {{category.count}}
              </ion-icon>
            </div>
          </ion-row>
          <div text-wrap card-subtitle *ngIf="category.description">
            {{category.description.length > 130 ? category.description.substring(0, 130) + '...' : category.description}}
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
