<ion-header header-ios>
  <ion-navbar transparent [ngClass]="{'active': isClassActive()}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-left>Service Providers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content elastic-header>
  <div background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + serviceCategory.image + ')'}">
    <div parallax-header>
      <h3 no-margin parallax-title>{{serviceCategory.category_name}}</h3>
      <h2 no-margin parallax-subtitle *ngIf="serviceCategory.description">
        {{serviceCategory.description.length > 150 ? serviceCategory.description.substring(0, 150) + '...' : serviceCategory.description}}
      </h2>
    </div>
  </div>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12>
        <ion-list no-margin>
          <ion-item item-bcg border no-lines *ngFor="let serviceProvider of serviceProviders"
            [navPush]="'ServiceProviderPage'" [navParams]="{
              'serviceCategory': serviceCategory,
              'serviceProvider': serviceProvider
            }">
            <ion-thumbnail item-start>
              <img [src]="serviceProvider.logo" alt="avatar">
            </ion-thumbnail>
            <h2 no-margin item-title>{{serviceProvider.shop_name}}</h2>
            <h3 item-subtitle text-wrap>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <ion-badge class="badge-light" item-end>READ</ion-badge>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
